<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cipher0007.yash.gehueguruquant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".About" />
        <activity android:name=".Courses.Courses" />
        <activity android:name=".Courses.Tutorial" />
        <activity android:name=".Courses.Example" />
        <activity android:name=".Exercise.Exercises" />
        <activity android:name=".Tutorial.Unit1.Unit1" />
        <activity android:name=".Tutorial.Unit2" />
        <activity android:name=".Tutorial.Unit3" />
        <activity android:name=".Tutorial.Unit4" />
        <activity android:name=".Tutorial.Unit5" />
        <activity android:name=".Tutorial.Unit6" />
        <activity android:name=".Tutorial.Unit7" />
        <activity android:name=".Tutorial.Unit1.Lesson.Lesson1.Lesson1" />
        <activity android:name=".Tutorial.Unit1.Lesson.Lesson2" />
        <activity android:name=".Tutorial.Unit1.Lesson.Lesson3" />
        <activity android:name=".Tutorial.Unit1.Lesson.Lesson4" />
        <activity
            android:name=".Tutorial.Unit1.Lesson.Lesson1.IntroductionLesson1"
            android:label="@string/title_activity_introduction_lesson1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tutorial.Unit1.Lesson.Lesson1.Countinglesson1"
            android:label="@string/title_activity_countinglesson1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutUs.AboutDeveloper" />
        <activity android:name=".Copyright" />
        <activity android:name=".AboutUs.AboutUniversity" />
        <activity android:name=".AboutUs.AboutCourseInstructor" />
        <activity
            android:name=".Tutorial.Unit1.Lesson.Lesson1.Divisibilityrule"
            android:label="@string/title_activity_divisibilityrule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Exercise.ExerciseLesson1"
            android:label="@string/title_activity_exercise_lesson1"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>